doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='path/to/font-awesome/css/font-awesome.min.css')
  title Parkville || Welcome
.left
  div
    h1 Sign in
    p Already have an account? Just login below to access your account.
  .login
    form(action='' method='POST')
      li
        input.details(type='text' name='email' placeholder='Enter your email' required='')
      li
        input.details(type='password' name='password' id='' placeholder='Enter your password' required='')
      button Sign in
      li
        input(type='checkbox' name='' id='' required)
        |  Remember me.
      .register
        p
          | New User? 
          a(href='/html/sign_up.html') Signup
    .copyright Parkville &copy; 2022.
.aside
  img(src='/images/Logo black.png' alt='')
  br
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
