doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/signup.css')
  title Parkville || Signup
.aside
  img(src='/images/Logo original.png' alt='')
  br
form(method='POST', action='')#register
  h1 Sign up
  p Create an account for free today!.
  li
    input.details(type='text' name='firstName' placeholder='Enter first name' required='')
  li
    input.details(type='text' name='lastName' placeholder='Enter last name' required='')
  li
    input.details(type='tel' name='phoneNumber' id='' placeholder=' Enter phone no' required='')
  li
    input.details(type='email' name='email' id='' placeholder='Enter email' required='')
  li
    input.details(type='password' name='password' id='' placeholder='Enter password' required='')
  li
    input.details(type='password' name='confirmPassword' id='' placeholder='Confirm password' required='')
  li
    input(type='checkbox' name='' id='')
    |  I agree to the 
    a(href='#') terms &amp; conditions.
  li
    button(type='submit') Sign up
  li
    p
      | Already have an account? 
      a(href='/html/index.html') Sign In
